<app-navbar></app-navbar>
<div class="leave-approval-container">
    <h2>Leave Approval</h2>
    <table>
      <thead>
        <tr>
          <th>Username</th>
          <th>Start Date</th>
          <th>End Date</th>
          <th>Days</th>
          <th>Reason</th>
          <th>Action</th>
        </tr>
      </thead>
      <tbody>
        <ng-container *ngFor="let user of leaveRequests">
          <ng-container *ngIf="user.leave.length > 0">
            <tr *ngFor="let leave of user.leave">
             <ng-container *ngIf="leave.status==='pending'">
              <td>{{ user.username }}</td>
              <td>{{ leave.startDate }}</td>
              <td>{{ leave.endDate }}</td>
              <td>{{ calculateTotalLeaveDays(leave.startDate, leave.endDate) }}</td>
              <td>{{ leave.reason }}</td>
              <td>
                <button class="apr" (click)="approveLeave(leave)">Approve</button>
                <button class="rej" (click)="rejectLeave(leave)">Reject</button>
              </td>
             </ng-container>
            </tr>
          </ng-container>
        </ng-container>
        <tr *ngIf="leaveRequests.length === 0">
          <td colspan="5">No leave details available.</td>
        </tr>
      </tbody>
    </table>
</div>
<app-footer></app-footer>
