<app-navbar></app-navbar>
<div class="container">
    <h1>Welcome to the Leave Management System</h1>
    <p>
      Manage your leave requests and track your leave balance with ease.
    </p>
    <div class="features">
      <h2>Features</h2>
      <ul>
        <li>Submit leave requests</li>
        <li>Emergency Holidays</li>
        <li>Add or Remove Employee( for admin )</li>
        <li>Approve or Reject leave requests (for admin)</li>

      </ul>
    </div>
    <div class="getting-started">
      <h2>Getting Started</h2>
      <p>
        To get started, please log in to your account or contact Admin to create an account.
      </p>
      <p>
        If you're a manager, you can access additional features to manage your team's leave requests.
      </p>
      <a routerLink="/login" class="btn btn-primary">Log In</a>
      
    </div>
  </div>
<app-footer></app-footer>
  