/* Style the container */
.leave-approval-container {
    margin: 20px auto;
    width: 80%;
    text-align: center;
  }
  
  /* Style the table */
  table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
  }
  
  /* Style the table header */
  th {
    background-color: #f2f2f2;
    padding: 10px;
    border: 1px solid #ddd;
    font-weight: bold;
    text-align: center;
  }
  
  /* Style the table cells */
  td {
    padding: 10px;
    border: 1px solid #ddd;
    text-align: center;
  }
  .text-yellow {
    color: rgb(194, 194, 0);
  }
  
  .text-green {
    color: rgb(32, 218, 32);
    font-weight: bold;
  }
  
  .text-red {
    color: red;
  }
  
 