/* Styles for the dashboard container */
.dashboard-container {
    width: 100%;
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
    margin-top: 100px;
}

  
  /* Styles for the user dashboard */
  .user-dashboard {
    text-align: center;
  }
  
  /* Styles for the header */
  .user-dashboard h1 {
    font-size: 30px;
    color: #333;
    margin-bottom: 20px;
  }
  
  /* Styles for tomorrow's holidays section */
  .notifications {
    margin-top: 20px;
    padding: 15px;
    background-color: #ebebebb9;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    margin-top: 100px;
  }
  
  /* Styles for the header of tomorrow's holidays section */
  .notifications h3 {
    font-size: 18px;
    color: #333;
  }
  
  /* Styles for the list of holidays */
  .notifications ul {
    list-style-type: none;
    padding: 0;
  }
  
  /* Styles for each holiday item */
  .notifications li {
    margin: 10px 0;
  }
  
  /* Styles for the holiday date and name */
  .notifications p {
    font-size: 16px;
    color: #555;
  }
  
  /* Styles for the "No holidays are scheduled" message */
  .notifications p.no-holidays {
    font-size: 16px;
    color: #777;
  }
  